.btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
    border: 2px solid $link-base-color;
    &:hover {
        border-color: $link-hover-color;
        background-color: $code-background-color;
    }
    &:visited {
        border-color: $link-visited-color;
    }
}

.site-header {
    border-top: 0px;
}
